@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--white: #ffffff;
	--body-color: #f5f5f5;
	--greyLight: #c8d0e7;
	--light-color: #e028e0;
	--text-color: #151719;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  /* background: #ededed; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: var(--text-color);
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  /* background: #61A9F0; */
  background: var(--body-color);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: .3rem .3rem .6rem var(--greyLight), 
				-.2rem -.2rem .5rem var(--white);
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  /* border: 1px solid #0F0740; */
  padding: 0.5rem 1rem;
  width: 300px;
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: inset .2rem .2rem .5rem var(--greyLight), 
				inset -.2rem -.2rem .5rem var(--white);
}

.todo-input::placeholder {
  /* color: #0F0740; */
}

.todo-btn {
  background: #0F0740;
  color: #fff;
  border: none;
  width: 3rem;
  padding: 0.58rem;
  cursor: pointer;
  margin: 5px 1px 20px 15px;
  border-radius: 5px;
}

.todo-btn:hover {
  background: #6152BE;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0F0740;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 1rem;
  cursor: pointer;
  /* max-width: 97%; */
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #d6aa7e;
  text-decoration: line-through red;
}

@media screen and (max-width: 480px) {
.App {
  max-width: 90%;
  margin: auto;
  padding: 0;
} 
.todo-input {
  max-width: 80%;
  
}
.todo-btn {
  content: "+";
  width: 30px;
  height: 39px;
  padding: auto;
}
}